.DS_Store
.ipynb_checkpoints
.minetrc
.pytest_cache
.python-version
.vscode
__pycache__
build
cookbook/notebooks/*.csv
data
dist
ftest/content
ftest/corpus
ftest/crawl
ftest/*.csv
*.q
*.jsonl
*.egg-info
*.pyc
*.spec
*.sqlar
*-wal
*-shm
/crawl
/downloaded
