# Dev dependencies
autopep8==1.5.6
importchecker==2.0
ipython
pycodestyle==2.7.0
PyInstaller==4.2
pytest==3.5.1
twine==1.11.0
wheel

# Dependencies
beautifulsoup4==4.7.1
browser-cookie3==0.12.0
casanova==0.13.3
cchardet>=2.1.7
colorama==0.4.4
dateparser==1.0.0
ebbe==1.2.0
json5==0.8.5
keyring<19.3
lxml==4.6.3
ndjson==0.3.1
persist-queue==0.4.2
pyyaml==5.4.1
quenouille==0.6.6
soupsieve>=2.1
tenacity==7.0.0
termcolor==1.1.0
tqdm==4.59.0
trafilatura==0.8.1
twitwi==0.6.0
ural==0.29.3
urllib3[secure]==1.25.3
