# Dev dependencies
black==22.12.0
importchecker==2.0
PyInstaller==5.7.0
pytest==7.2.1
twine==4.0.2
wheel

# Dependencies
beautifulsoup4==4.11.1
browser-cookie3==0.16.5
casanova==0.19.2
charset-normalizer==3.0.1
dateparser==1.1.6
ebbe==1.10.0
json5==0.9.11
keyring<19.3
lxml==4.9.2
ndjson==0.3.1
persist-queue==0.8.0
pyyaml==5.4.1
quenouille==1.4.3
rich==13.2.0
soupsieve>=2.1
tenacity==8.1.0
trafilatura==1.4.1
twitwi==0.16.1
ural==0.37.0
urllib3==1.26.14
