# Dev dependencies
importchecker==2.0
ipython
pycodestyle==2.4.0
PyInstaller==4.2
pytest==3.5.1
twine==1.11.0
wheel

# Dependencies
beautifulsoup4==4.7.1
browser-cookie3==0.12.0
casanova==0.10.1
cchardet>=2.1.7
dateparser==1.0.0
ebbe==1.1.0
json5==0.8.5
keyring<19.3
lxml==4.6.2
ndjson==0.3.1
persist-queue==0.4.2
pyyaml==5.1.2
quenouille==0.6.6
tenacity==6.3.1
tqdm==4.31.1
trafilatura==0.8.1
twitwi==0.6.0
ural==0.29.3
urllib3[secure]==1.25.3
