name: Tests

on: [push, pull_request]

jobs:
  tests:
    strategy:
      matrix:
        python-version:
          - "3.5"
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
        os:
          - ubuntu-latest
          - mac-catalina
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: make deps

      - name: Run linter & unit tests
        run: make
